*{
    margin: 0;
    padding: 0;
}
/*banner css section*/
.banner{
    display: flex;
    padding: 30px 30px 0 200px;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-around;
    background-color: #fcd9eb;
    
}
.photo{
    width: 500px;
    

    
}
.banner-btn{
    background-color: #E55473;
    border-style: none;
    border-radius: 6px;
    padding: 10px;
    color: #ffffff;
    margin-top: 10px;

}
.banner-title{
    color: #272727;
    font-weight: 700px;
    font-size: 50px;
    padding-bottom: 10px;
}
.banner-para{
    margin: 15px;
    color: #949393;
}

/*This is head section-3*/
.section-3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:#fcd9eb ;
}
.sec3-title{
    color: #272727;
    font-weight:400px;
    font-size: 35px;
    padding-bottom: 10px;

}
.sec3-span{
    color: #E55473;
    font-weight: 100px;
    font-size: 40px;
}
.sec3-para{
    margin: 15px;
    color: #949393;
}
.sec3-btn{
    background-color: #E55473;
    border-style: none;
    border-radius: 6px;
    padding: 10px ;
    color: #ffffff ;
    
    
}
