*{
    margin: 0;
    padding: 0;
}
/*banner css section*/
.banner{
    display: flex;
    padding: 30px 30px 0 200px;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-around;
    background-color: #fcd9eb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.photo{
    width: 500px;
    

    
}
.banner-btn{
    background-color: #E55473;
    border-style: none;
    border-radius: 6px;
    padding: 10px;
    color: #ffffff;
    margin-top: 10px;

}
.banner-title{
    color: #272727;
    font-weight: 700px;
    font-size: 50px;
    padding-bottom: 10px;
}
.banner-para{
    margin: 15px;
    color: #949393;
}
/*This is section 2*/
.section-2{
    display: flex;
    margin: 140px 200px;
    background-color: #dedbdb;
    justify-content: space-around;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/*This is head section-3*/
.section-3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:#fcd9eb ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sec3-title{
    color: #272727;
    font-weight:400px;
    font-size: 35px;
    padding-bottom: 10px;

}
.sec3-span{
    color: #E55473;
    font-weight: 100px;
    font-size: 40px;
}
.sec3-para{
    margin: 15px;
    color: #949393;
}
.sec3-btn{
    background-color: #E55473;
    border-style: none;
    border-radius: 6px;
    padding: 10px ;
    color: #ffffff ;
    
    
    
}
/*This section 4 */
.sec4-title{
    font-size: 50px;
    margin: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sec4-para{
    padding: 20px;
    text-align: center;
}
.sec4-images{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
.image{
    padding: 15px;
}
/*This is section 5*/
.sec5-title{
    font-size: 50px;
    margin: 100px ;
    text-align: center;
}
.sec5-para{
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
    
}
.sec5-btn{
    background-color: #E55473;
    border-style: none;
    border-radius: 6px;
    padding:10px;
    color: #ffffff;
    
    text-align: center;


}
.section-5{
    background-image: url('../Flower\ Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    height: 500px ;
    background-position: center;
    display: flex;
    margin: 100px 300px ;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
.email{
    
    font-size: 25px;
}
/* This is foot css*/
.foot-container{
    background-color: #111010;
    height: 600px;
    text-align: center;
    margin-top: 40px;
    padding: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}

.foot-title{
    font-size: 50px;
    color: #fde5e5;
    
}
.span-style{
    color: #E55473;
}
.foot-para{
    
    font-size: 23px;
    padding:50px;
    color: #949393;
    
}
.f-para{
    font-size: 25px;
    color: #676565;
}
